/* Base styles for the light theme */
:root {
  --navbar-brand-color: #333333;
  --navbar-link-color: #007bff;
  --navbar-toggle-text-color: #ffffff;
  --navbar-background: #ffffff; /* Light mode background */
}

/* Dark mode styles */
[data-theme='dark'] {
  --navbar-brand-color: #ffffff;
  --navbar-link-color: #007bff;
  --navbar-toggle-text-color: #ffffff;
  --navbar-background: #333333; /* Dark mode background */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--navbar-background);
  color: var(--navbar-brand-color);
  transition: background-color 0.3s ease;
  font-family:  Helvetica, sans-serif;
  
  
}

.navbar-brand a {
  font-size: 24px;
  text-decoration: none;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--navbar-brand-color);
}

.navbar-menu {
  display: flex;
  align-items: center;
  flex: 1;  
  justify-content: center;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu ul li {
  margin: 0 15px;
}
 
.navbar-menu ul li a {
  
  text-decoration: none;
  color: var(--navbar-link-color);
  font-size: 20px;
  transition: color 0.3s; 
}

.navbar-menu ul li a:hover {
  
  color: #ff6900; 
}

/* Ensure the list is properly styled */
.navbar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-menu ul li {
  margin-right: 20px;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.navbar-menu ul li a.active-link {
  color: #ff6900; /* Active link text color */
}

.navbar-menu ul li a.active-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff6900; /* Underline color */
  border-radius: 10px 10px 0 0; /* Bent inward effect */
}

.navbar-menu ul li a:hover {
  color: #ff6900; /* Change color on hover */
}

.navbar-menu ul li a:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff6900;
  border-radius: 10px 10px 0 0; /* Repeat bent inward effect */
}


.navbar-toggler {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background: none;
  padding: 10px;
}

.toggler-icon {
  width: 25px;
  height: 3px;
  background-color: var(--navbar-brand-color);
  margin: 3px 0;
  transition: background-color 0.3s;
}

/* Theme toggle button */
.theme-toggle {
  background-color: var(--navbar-background);
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 12px 20px; /* Adjusted padding */
  cursor: pointer;
  color: var(--navbar-toggle-text-color);
  font-size: 16px;
  margin-right: 60px;
  width: 120px; /* Adjust width as needed */
  transition: background-color 0.3s;
}

.theme-toggle.dark-mode {
  background-color: #000000;
}

.theme-toggle-text {
  margin-right: 10px;
}

.theme-toggle svg {
  font-size: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {

  .navbar {
    padding: 1.35rem 1.1rem;
    

  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--navbar-background);
    align-items: center;
    display: none;
  }

  .navbar-menu.open {
    display: flex;
  }

  .navbar-menu ul {
    flex-direction: column;
  }

  .navbar-menu ul li {
    margin: 10px 0;
  }

  .navbar-toggler {
    display: flex;
  }

  .theme-toggle {
    margin-left: 0;
    margin-top: 10px;
  }
}
